.homepage__container {
  display: grid;
  grid-template-columns: 1.4fr 8.6fr;
  .sidebar {
    border-right: 0.4px solid rgba(128, 128, 128, 0.541);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .homepage__container {
    display: block;
  }
}
