.category__sidebar-container {
  padding-top: 2rem;
  padding-left: 1rem;

  p {
    padding: 0.5rem 0;
    cursor: pointer;
  }
}
.category__sidebar-container {
  position: fixed;
  max-width: 180px;

  a {
    padding: 0.5rem 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}

.category__logo {
  margin: 1rem 0;
}
